<div class="site-info">
    <h2 class="info-heading"> Technical Artist. Programmer. Artist </h2>
  
    <div class="row">
      <div class="column">
            <img width="800" src="/assets/IMG_3042.png">

            <div class="column">
                <div>
                    <p>I am Nicole Wang. I am also known by my Chinese name Rui Wang. 
                        I am a junior double majoring in Computer Science Games and Applied Mathematics at Univerity of Southern California.</p>
        
                    <p>I am a game developer and artist with a passion for creating fun immersive experiences and telling emotionally rich stories. 
                        I believe that when I create a game, rather than just only making a game, 
                        I am crafting a unique experience for my players. I hope everything I create can evoke joy, 
                        melancholy, fury, serenity, and a sense of liberation, just as I intend to convey.</p>
                </div>
        
              </div>
      </div>
  
      
  
  </div>
</div>
  