<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}

        <div class="container">


            
              <div class="row">
                <div class="column column-100">
                    <div class="preview-panel">
                        <a href="/2023/09/07/Dandelion-Wine/">
                            <img src="/assets/Dandelion_Wine/DW_preview.png">
                        </a>
                        <div class="post-title">Dandelion Wine</div>
                        <div class="post-summary">Technical Artist</div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="column column-100">
                    <div class="preview-panel">
                        <a href="/2024/01/08/ITP380-Retro-Game-Remake/">
                            <img src="/assets/ITP380/ITP380_preview.png">
                        </a>
                        <div class="post-title">ITP380: Retro Games Remake</div>
                        <div class="post-summary">Individual Course Project</div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="column column-100">
                    <div class="preview-panel">
                        <a href="/2022/12/01/Escaper/">
                            <img src="/assets/Escaper/preview.png">
                        </a>
                        <div class="post-title">Escaper</div>
                        <div class="post-summary">Personal Project</div>
                    </div>
                </div>
            </div>
            

            {% include info.html %}

            {% include footer-home.html %}
        </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
