<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}

        <div class="container">

          {{content }}

          <hr>

          <div style="text-align: center;">
            <img width = "400" src="/assets/props/Games1.png">
          </div>

              <div class="row">
                <div class="column column-100">
                    <div class="preview-panel">
                        <a href="/2025/08/22/Tencent-Games/">
                            <img src="/assets/assets/LightSpeed_Logo.jpeg">
                        </a>
                        <div class="post-title">Tencent Games(LightSpeed Studio)</div>
                        <div class="post-summary">Engineer Intern</div>
                    </div>
                </div>
            </div>
            
            <div class="row">
              <div class="column column-100">
                <div class="preview-panel">
                    <a href="/2025/04/30/3D_DX11_Game_Engine_Development/">
                        <img src="/assets/ITP380/portal_preview.png">
                    </a>
                    <div class="post-title">3D DX11 Game Engine Development</div>
                    <div class="post-summary">ITP485 Individual Class Project</div>
                </div>
            </div>
            </div>
            
            
            <div class="row">
                <div class="column column-100">
                    <div class="preview-panel">
                        <a href="/2024/12/01/Ray_Tracer_Development/">
                            <img src="/assets/CSCI420/SIGGRAPHWithSS.jpg">
                        </a>
                        <div class="post-title">Ray Tracer Development</div>
                        <div class="post-summary">CSCI420 Individual Class Project</div>
                    </div>
                </div>
            </div>
            
            <div class = "row">
              <p> </p>
            </div>

            <div class="row">
              <div class="column column-70">
                  <p> </p>
              </div>
              <div class="column column-30">
                <a href="{{ site.baseurl }}/archive/">
                  <img align = "right" width = "300" src="/assets/props/viewmore.png">
                </a>
              </div>
          </div>
          
            {% include info.html %}

            {% include footer-home.html %}
        </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
