<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <main class="wrapper">
      
      {% include header.html %}

        <div class="container">

          {{content }}

          <hr>

          <div style="text-align: center;">
            <img width = "400" src="/assets/props/Games1.png">
          </div>

              <div class="row">
                <div class="column column-100">
                    <div class="preview-panel">
                        <a href="/2024/05/01/Dandelion-Wine/">
                            <img src="/assets/Dandelion_Wine/DW_preview.png">
                        </a>
                        <div class="post-title">Dandelion Wine</div>
                        <div class="post-summary">Technical Artist</div>
                    </div>
                </div>
            </div>
            
            <div class="row">
              <div class="column column-100">
                <div class="preview-panel">
                    <a href="/2024/03/18/Portal/">
                        <img src="/assets/ITP380/Portal_preview2.png">
                    </a>
                    <div class="post-title">Portal Remake</div>
                    <div class="post-summary">ITP380 Individual Class Project</div>
                </div>
            </div>
            </div>
            
            
            <div class="row">
                <div class="column column-100">
                    <div class="preview-panel">
                        <a href="/2022/12/01/Escaper/">
                            <img src="/assets/Escaper/preview.png">
                        </a>
                        <div class="post-title">Escaper</div>
                        <div class="post-summary">Personal Project</div>
                    </div>
                </div>
            </div>
            
            <div class = "row">
              <a href="{{ site.baseurl }}/archive/">
                <img align = "right" width = "400" src="/assets/props/viewmore.png">
              </a>
            </div>
          
            {% include info.html %}

            {% include footer-home.html %}
        </div>
    
    </main>

    {% include scripts.html %}
    
  </body>

</html>
